data/19th_20th_speeches_all.zip filter=lfs diff=lfs merge=lfs -text
data/speeches.csv filter=lfs diff=lfs merge=lfs -text
data/complete_data.csv filter=lfs diff=lfs merge=lfs -text
data/final_data.csv filter=lfs diff=lfs merge=lfs -text
data/classifier_data_A.csv filter=lfs diff=lfs merge=lfs -text
data/classifier_data_B.csv filter=lfs diff=lfs merge=lfs -text
allresultsB.zip filter=lfs diff=lfs merge=lfs -text
code/allresultsB.zip filter=lfs diff=lfs merge=lfs -text
data/allresultsA.zip filter=lfs diff=lfs merge=lfs -text
data/allresultsB.zip filter=lfs diff=lfs merge=lfs -text
