# open discourse data
data/speeches
data/Members_of_Parliament_V1.csv
data/Members_of_Parliament_V1.xlsx

# old bundestag mine
data/bundestag-mine_politicians.zip
data/bundestag-mine_politicians

# extracted zip file
data/19th_20th_speeches_all

# personal api keys
manifesto_apikey.txt